.modal-header{
    border-bottom: none;
   
}

.modal-header-underline {
  width: 80%;
  border-bottom: 3px solid #0d0d0e; /* adjust thickness & color */
  margin-top: 0.5rem;
}

.createbutton{
    height: 3em;
    width: 16em;
    padding-top: 8px;
    color: black;
}

